{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-3">
    <h1 class="text-warning mb-4 border-bottom">SERVICES</h1>
    
    <div class="row text-white text-center mb-3">
    
        <div class="col-sm-4">
            <i class="fa fa-search-dollar fa-2x mb-2 icolor" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="pcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestias, deserunt ducimus soluta quam rem enim debitis facere
                 at doloribus quos explicabo id, possimus voluptate exercitationem
            </p>
        </div>
    
        <div class="col-sm-4">
            <i class="fa fa-palette fa-2x mb-2 icolor" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="pcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestias, deserunt ducimus soluta quam rem enim debitis facere
                 at doloribus quos explicabo id, possimus voluptate exercitationem
            </p>
        </div>
    
        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-2 icolor" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="pcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestias, deserunt ducimus soluta quam rem enim debitis facere
                 at doloribus quos explicabo id, possimus voluptate exercitationem
            </p>
        </div>

    </div>

    <div class="row text-white text-center mb-3">
        <div class="col-sm-4">
            <i class="fa fa-search fa-2x mb-2 icolor" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="pcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestias, deserunt ducimus soluta quam rem enim debitis facere
                 at doloribus quos explicabo id, possimus voluptate exercitationem
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-palette fa-2x mb-2 icolor" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="pcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestias, deserunt ducimus soluta quam rem enim debitis facere
                 at doloribus quos explicabo id, possimus voluptate exercitationem
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-2 icolor" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="pcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestias, deserunt ducimus soluta quam rem enim debitis facere
                 at doloribus quos explicabo id, possimus voluptate exercitationem
            </p>
        </div>

    </div>
    

    <div class="row text-white text-center mb-3">
        <div class="col-sm-4">
            <i class="fa fa-search fa-2x mb-2 icolor" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="pcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestias, deserunt ducimus soluta quam rem enim debitis facere
                 at doloribus quos explicabo id, possimus voluptate exercitationem
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-palette fa-2x mb-2 icolor" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="pcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestias, deserunt ducimus soluta quam rem enim debitis facere
                 at doloribus quos explicabo id, possimus voluptate exercitationem
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-2 icolor" aria-hidden="true"></i>
            <h3>SEO</h3>
            <p class="pcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Molestias, deserunt ducimus soluta quam rem enim debitis facere
                 at doloribus quos explicabo id, possimus voluptate exercitationem
            </p>
        </div>

    </div>
</div>
{% endblock content %}